$color-white: #fff;
$color-black: #000;

$color-gray-100: #f2f4f7;
$color-gray-200: #e1e4e9;
$color-gray-300: #dadcdf;
$color-gray-400: #cfd4dc;
$color-gray-500: #a0a7b5;
$color-gray-600: #9ea5b2;
$color-gray-700: #818a98;
$color-gray-800: #848c9b;
$color-gray-900: #6b7381;

$color-n100: #545a65;
$color-n200: #3d434c;
$color-n300: #282c32;
$color-n400: #292c33;
$color-n500: #1e2126;
$color-n600: #14161a;

$color-p100: #56abff;
$color-p200: #007efb;
$color-p300: #0072e2;
$color-p400: #005ab4;

$color-success: #33b04e;
$color-success-light: #7ddb91;

$color-error: #db330e;
$color-error-light: #ff6f50;

$color-active: #1e4cff;
$color-active-light: #5679ff;

$color-purple: #6c5dd3;
$color-pink: #ff98e5;
$color-green-light: #24ba9d;
$color-cotta: #ed705f;
